/* ads in header start*/

.adsInHeaderPr {
    width: 460px;
    height: 60px;
    overflow: hidden;
}
.adsInHeaderWr {
    max-width: 460px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.adsInHeaderWr a {
    width: 100%;
    height: 100%;
}
.adsInHeaderWr a img {
    width: 100%;
    height: auto;
}


/* ads in header end */

/* ads after home menu start  */

#adsHAMPr {
    margin-top: 16px;
    margin-bottom: 16px;
    overflow: visible;
    /* background-color: var(--colpal-10); */
    background-color: #ddd;
}

.adsToggleCloseOpenWr {
    position: absolute;
    bottom: 5px;
    right: 0;
    width: max-content;
    font-size: 70%;
    line-height: 1;
    background-color: #333;
    color: white;
    padding: 6px 8px;
    cursor: pointer;
    z-index: 2;
}

.adsHomeAfterMenuWr {
    padding: 2em 8px;
    display: flex;
    align-items: center;
}

.adsHAMLeft {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.adsHAMLeft a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.adsHAMRight {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    text-align: left;
    margin-left: 6px;
}
.adsHAMRight h3 {
    font-size: clamp(0.8rem, 1.8vw, 1rem);
    line-height: 1;
    margin: 6px 0;
    font-family: var(--font-tertiary);
}
.adsHAMRight a {
    font-size: 80%;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: var(--colpal-6);
    color: white;
    padding: 8px 18px;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.adsHAMRight small {
    margin: 2px;
}
.adsHAMphone {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* ads after content */
.adsAfterContentPr {
    font-size: 80%;
}
.adsAfterContentPr,
.adsAfterContentWr {
    width: 100%;
    overflow: hidden;
}
.adsAfterContentWr {
    display: flex;
    justify-content: center;
    gap: 4px;
}

.adsAfterContentCol {
    min-width: 334px;
    width: 334px;
    max-width: 334px;
    min-height: 300px;
    height: 300px;
    max-height: 300px;
    padding: 16px;
    overflow: hidden;
}

@media screen and (max-width: 767px) {
    .adsInHeaderPr {
        display: none !important;
    }
    
}

@media screen and (max-width: 599px) {
    .adsHomeAfterMenuWr {
        flex-direction: column;
    }
    .adsHAMLeft,
    .adsHAMRight {
        width: 100%;
        align-items: center !important;
    }
    .globalFiveStars {
        margin: 4px auto;
    }
    .globalHighlight {
        text-align: center;
    }
    .adsHAMRight small {
        width: 85%;
        font-size: 90%;
        text-align: center;
        margin: 4px auto 8px auto;
    }
    .adsHAMRight a {
        margin-top: 16px;
        margin-bottom: 16px;
    }
}
@media screen and (max-width: 500px) {
    .adsAfterContentWr {
        flex-wrap: wrap;
    }
    .adsAfterContentCol {
        flex: unset;
        width: 672px;
        max-width: 672px;
        margin: 4px auto;
    }
}