#headerMenuPr {
    height: 40px;
    background-color: black;
    color: wheat;
}
#headerMenuPr .container {
    height: 100%;
}
.headerMenuWr {
    height: 100%;
    display: flex;
    align-items: center;
}

.headerMenuRight {
    display: none;
}