.singleWr {
  width: 100%;
  display: flex;
}
.singleLeft {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  background-color: antiquewhite;
}
.singleFeaturedImageWr,
.globalPostFeaturedImage {
  width: 100%;
  max-width: 100%;
  height: 400px;
  max-height: 400px;
  overflow: hidden;
  margin-bottom: 8px;
}
.globalFeaturedImage {
  width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 16/9;
}
.singlePostTitleWr,
.singleMetaWr,
.theContent,
.singleTagWr,
.singleCommentFormWr {
  padding: 16px;
}
.singlePostViewsWr {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 80%;
  line-height: 1;
  padding: 4px 16px;
}

.singleMetaWr,
.singleAuthorWr {
  width: 100%;
  overflow: hidden;
}
.singleAuthorWr img {
  margin-left: 6px;
}
.singleAuthorWr {
  display: flex;
  align-items: center;
}

.singleTagWr,
.globalTagWr {
  width: 100%;
  overflow: hidden;
}
.singleCommentFormWr {
  width: 100%;
}

.globalTagList {
  display: flex;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}
.globalTagList li {
  font-size: 70%;
  padding: 4px 6px;
  margin: 6px;
  background-color: var(--colpal-11);
  color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.singleRight {
  width: 300px;
  display: flex;
  margin-left: 4px;
  background-color: var(--colpal-10);
}

.globalSidebarHeadWr {
  width: 100%;
  background-color: var(--colpal-11);
  color: white;
  padding: 0 4px;
}
.globalSidebarHead {
  font-size: clamp(1em, 2.5vw, 1.1em);
}
.globalAsideWr {
  width: 100%;
}
.globalSidebar {
  width: 100%;
}

.theContent {
  overflow: hidden;
}
.theContent h2 {
  font-size: clamp(1.1rem, 3vw, 1.7rem);
}

.theContent h3 {
  font-size: clamp(1rem, 3vw, 1.4rem);
}

.theContent h4 {
  font-size: clamp(0.9rem, 3vw, 1.1rem);
}

.theContent h5 {
  font-size: clamp(0.8rem, 3vw, 1rem);
}

.theContent h6 {
  font-size: clamp(0.7rem, 3vw, 0.9rem);
}

.theContent .wp-caption {
  aspect-ratio: 16/9;
}
.theContent .wp-caption img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

/* table css in single */

.globalTableInContent {
  width: 100%;
  overflow-x: auto;
  border-collapse: collapse;
}

.globalTableInContent tr:first-child {
  display: none;
}
.globalTableInContent tr:nth-child(even) {
  background-color: aliceblue;
  color: black;
}
.globalTableInContent tr:nth-child(odd) {
  background-color: white;
  color: black;
}
.globalTableInContent td {
  padding: 4px 8px;
}

@media screen and (max-width: 992px) {
  .singleWr {
    flex-direction: column;
  }
  .singleLeft,
  .singleRight {
    width: 100%;
    flex: unset;
  }
}

@media screen and (max-width: 600px) {
  .singleFeaturedImageWr,
  .globalPostFeaturedImage {
    min-height: 200px;
    max-height: 200px;
  }
  .singlePostTitleWr,
.singleMetaWr,
.theContent,
.singleTagWr,
.singleCommentFormWr {
  padding: 16px 8px;
}
  .globalPostFeaturedImage img {
    height: 100%;
    object-fit: cover;
  }
}
