.theContent {
  overflow: hidden;
}
.theContent h2 {
  font-size: clamp(1.1rem, 3vw, 1.7rem);
}

.theContent h3 {
  font-size: clamp(1rem, 3vw, 1.4rem);
}

.theContent h4 {
  font-size: clamp(0.9rem, 3vw, 1.1rem);
}

.theContent h5 {
  font-size: clamp(0.8rem, 3vw, 1rem);
}

.theContent h6 {
  font-size: clamp(0.7rem, 3vw, 0.9rem);
}

.theContent .wp-caption {
  aspect-ratio: 16/9;
}
.theContent .wp-caption img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

/* table css in single */

.globalTableInContent {
  width: 100%;
  overflow-x: auto;
  border-collapse: collapse;
}

.globalTableInContent tr:first-child {
  display: none;
}
.globalTableInContent tr:nth-child(even) {
  background-color: aliceblue;
  color: black;
}
.globalTableInContent tr:nth-child(odd) {
  background-color: white;
  color: black;
}
.globalTableInContent td {
  padding: 4px 8px;
}
